<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
</head>
<body>
    <div id="chat-messages"></div>
    <input type="text" id="chat-input" placeholder="Введите сообщение...">
    <button id="send-button">Отправить</button>

    <script>
        const chatSocket = new WebSocket(
            'ws://54.90.163.29:80/ws/chat/{{ room_id }}/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data.message;
            const sender_id = data.sender_id;
            const timestamp = data.timestamp;

            // Отображение сообщения на странице
            const messageElement = document.createElement('p');
            messageElement.innerHTML = `${sender_id} (${timestamp}): ${message}`;
            document.querySelector('#chat-messages').appendChild(messageElement);
        };

        document.querySelector('#send-button').onclick = function() {
            const messageInputDom = document.querySelector('#chat-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({'message': message}));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
